<p><%= @discount.id %></p>
<p>Discount Percent: <%= "#{(@discount.percent * 100).to_i}" %>%</p>
<p><%= @discount.required_quantity %></p>
<%= link_to "Edit Discount", "/merchant/bulk_discounts/#{@discount.id}/edit" %>
